{% extends "bases/bases.html" %}
{% if messages %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Erro!</strong>
  <br>
  {% for mensagem in messages %}
  {{ mensagem }}
  {% endfor %}
 
</div>
{% endif %}
<form method="POST" action="login">
{% csrf_token %}

{% block content %}

    <div class="hero is-fullheight-with-navbar is-dark">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-success", href="signup">
                    <strong>Cadastrar</strong>
                  </a>
                  {% if current_user.is_mainenticated %}
                  <a class="button is-danger", href="logout">
                    <strong>Sair</strong>
                   </a>
                  {% endif %}
                </div>
              </div>

          </div>
  
  
  
<div class="column is-4 is-offset-4">
    <h3 class="title">Faca Seu Login</h3>
    <div class="box">
        <form method="POST" action="login">
          {% csrf_token %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Digite seu Email" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Digite sua Senha" required>
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Lembrar-me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}