{% extends "bases/bases.html" %}
{% if messages %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Erro!</strong>
  <br>
  {% for mensagem in messages %}
  {{ mensagem }}
  {% endfor %}
 
</div>
{% block content %}

<div class="hero is-fullheight-with-navbar is-dark">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-danger", href="logout">
          <strong>Sair</strong>
         </a>
      </div>
    </div>

  </div>
  <h4 class="title">
    Bem vindo,  {{ user.username }}  !
  </h4>
  <div class="hero-body">

</div>

</div>

{% endblock %}

{% endif %}